body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 300px;
}

address{
    font-size: x-small;
}

address div.address-entry{
    display: flex;
}

span.light{
    font-weight: 300;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.25em;
    color: steelblue;
    font-weight: 900;
}

h3{
    font-weight: lighter;
    font-size: 1.68em;
}

h4{
    font-size: .85em;
}

ul{
    font-size: .8em;
    font-family: open-sans;
}

li{
    list-style: none;
}

.color-secondary{
    color:lightslategray;
}

section{
    margin-bottom: 50px;
}

#resume{
    display: grid;
    grid-template-areas: 
    'header header address'
    'education education education'
    'work work work'
    'stack stack links'
    'volunteer volunteer volunteer'
    'footer footer footer';
}

header{
    grid-area: header
}

#education{
    grid-area: education;
}

#work{
    grid-area: work;
}

#stack{
    grid-area: stack;
}

#volunteer{
    grid-area: volunteer;
}

#links{
    grid-area: links;
}

footer{
    grid-area: footer;
}

address{
    grid-area: address;
    align-self: center;
}


address a{
    white-space: nowrap;
}

address img{
    max-height: 10px;
    vertical-align: middle;
    margin-right: 1px;
}